<launch>
  <arg name="rviz_config" default="$(find param_env)/launch/default.rviz"/>
  <node pkg="rviz"
    type="rviz"
    name="rviz"
    args="-d $(arg rviz_config)"/>
  <node pkg="tf" type="static_transform_publisher" name="my_static_transform_publisher" args="0 0 0 0 0 0 1 map odom 10"/>
</launch>
